{% extends "layout.html" %}

{% block title %}
    My Account
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
{% endblock %}

{% block bottom %}
  <button type="button" class="btn btn-warning">Logout</button>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Cien Años de Soledad</h1>

    <table>
      <tr>
        <th>Author:</th>
        <td>Gabriel García Marquez</td>
      </tr>
      <tr>
        <th>Year:</th>
        <td>1996</td>
      </tr>
      <tr>
        <th>ISBN:</th>
        <td>84758392729</td>
      </tr>
      <tr>
        <th>Rating:</th>
        <td>4</td>
      </tr>
      <tr>
        <th>Reviews:&nbsp &nbsp</th>
        <td>23</td>
      </tr>
    </table>

    <span class="heading">User Rating</span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <p>4.1 average based on 254 reviews. Data obtained from
      <a href="https://www.goodreads.com/">Good Reads</a>.</p>
    <hr style="border:3px solid #f1f1f1">

    <form id="makeReview">
      <div class="form-group">
        <label for="exampleFormControlTextarea1"><h4>Make a review</h4></label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
      </div>

    <div class="form-row align-items-center">
      <div class="col-auto">
        <h5>Stars: </h5>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">1</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">2</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option2">
        <label class="form-check-label" for="inlineRadio2">3</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio4" value="option2">
        <label class="form-check-label" for="inlineRadio2">4</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5" value="option2">
        <label class="form-check-label" for="inlineRadio2">5</label>
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </div>

    </form>

    <h4>Reviews</h4>
    <div class="review">
      <div class="row">
          <div class="col-6">
              <h6>@camilo34:</h6>
          </div>
          <div class="col-6" id="data">
              03-01-2020
          </div>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id fermentum elit. Aenean ornare porta sagittis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id fermentum elit. Aenean ornare porta sagittis.
        A. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id fermentum elit. Aenean ornare porta sagittis.
        A. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id fermentum elit. Aenean ornare porta sagittis.
        A. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id fermentum elit. Aenean ornare porta sagittis.
        A. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id fermentum elit. Aenean ornare porta sagittis.
      </p>
    </div>

    <div class="review">
      <h6>@DannaLoreto:</h6>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id fermentum elit. Aenean ornare porta sagittis.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id fermentum elit. Aenean ornare porta sagittis.
        A. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id fermentum elit. Aenean ornare porta sagittis.
        A. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id fermentum elit. Aenean ornare porta sagittis.
      </p>
    </div>

</div>

{% endblock %}
