{% extends "layout.html" %}

{% block title %}
    My Account
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='style2.css') }}">
{% endblock %}

{% block bottom %}
  <button type="button" class="btn btn-warning"><a id ="logout" href="{{ url_for('logout') }}">Log out</a></button>
{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ book.title }}</h1>

    <table>
      <tr>
        <th>Author:</th> <td>{{ book.author }}</td>
      </tr>
      <tr>
        <th>Year:</th> <td>{{ book.year }}</td>
      </tr>
      <tr>
        <th>ISBN:</th> <td>{{ book.isbn }}</td>
      </tr>
      <tr>
        <th>Rating:</th> <td>{{ book.stars }}</td>
      </tr>
      <tr>
        <th>Reviews:&nbsp &nbsp</th> <td>{{ book.review_count }}</td>
      </tr>
    </table>

    <span class="heading">User Rating</span>
  {% for i in range(stars) %}
    <span class="fa fa-star checked"></span>
  {% endfor %}
  {% if stars != 5 %}
    {% for i in range(5-stars) %}
      <span class="fa fa-star"></span>
    {% endfor %}
  {% endif %}
    <p>  {{ good_reads['average_rating'] }} average based on {{ good_reads['reviews_count'] }} reviews. Data obtained from
      <a id="other" href="https://www.goodreads.com/">Good Reads</a>.</p>
    <hr style="border:3px solid #f1f1f1">

  {% if user_review == 0 %}
    <form action="{{ url_for('book', ISBN=book.isbn, status=1)}}" id="makeReview">
      <div class="form-group">
        <label for="Textarea1"><h4>Make a review</h4></label>
        <textarea class="form-control" name="text" id="Textarea1" rows="5"></textarea>
      </div>

    <div class="form-row align-items-center">
      <div class="col-auto">
        <h5>Stars: </h5>
      </div>
      <div class="form-check form-check-inline">
      {% for i in range(1,6) %}
        <input class="form-check-input" type="radio" name="stars" value="{{i}}" id="inlineRadio">
        <label class="form-check-label" for="inlineRadio"> {{i}} &nbsp</label>
      {% endfor %}
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </div>
    </form>
  {% endif %}

  {% if reviews != [] %}
    <h4>Reviews</h4>
    {% for review in reviews %}
    <div class="review">
      <div class="row">
          <div class="col-6">
              <h6>@{{ review.user_id }}:</h6>
          </div>
          <div class="col-6" id="data">
              {{ review.date }}
          </div>
      </div>
      <p> {{ review.text }} </p>
    </div>
    {% endfor %}
  {% endif %}

</div>

{% endblock %}
