{% extends "layout.html" %}

{% block title %}
    Registration
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
{% endblock %}

{% block body %}
<div class="d-flex justify-content-center h-100">
  <div class="card" id="registration_card">
    <div class="card-header">
      <h3>Registration</h3>
    </div>

    <div class="card-body">
      <form action="{{ url_for('signup') }}" method="post">

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="firstname">First name</label>
            <input type="text" class="form-control" name="firstname" placeholder="First name">
          </div>
          <div class="form-group col-md-6">
            <label for="lastname">Last name</label>
            <input type="text" class="form-control" name="lastname" placeholder="Last name">
          </div>
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" name="email" placeholder="Email">
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" placeholder="Username">
          </div>
          <div class="form-group col-md-6">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
          </div>
        </div>

        {% if message == "Error" %}
          <div class="form-group">
            <p class="error">This username already exist.</p>
          </div>
        {% endif %}

        <div class="form-group">
          <input type="submit" value="Sign in" class="btn float-right login_btn">
        </div>
      </form>
      </div>

  </div>
</div>
{% endblock %}
